.profile {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 0;
    width: 300px;
    text-align: center;
    border: 2px solid black;
    margin-left: 75px;
}

.description {
    margin-bottom: 20px;
    margin-top: 20px;
}

.avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: black;
}

.statsContainer {
   
    background-color: #f0f0f0;
    width: 280px;
    padding: 10px;
    border-radius: 5px;
}

.stats {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.stats li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 ;
   
}

.value {
    margin-top: 10px;
    
}

.tag,
.location {
    color: gray;
    
}